.header {
  width: 3.2rem;
  height: 0.46rem;
  background: #262626;
  position: relative;
}
.header .a1 img {
  width: 0.3rem;
  height: 0.25rem;
  position: absolute;
  left: 0.06rem;
  top: 0.1rem;
}
.header span {
  font-size: 0.18rem;
  color: #fff;
  position: absolute;
  left: 1.04rem;
  top: 0.1rem;
}
.header .a2 img {
  width: 0.3rem;
  height: 0.25rem;
  position: absolute;
  left: 2.8rem;
  top: .1rem;
}
.nav {
  width: 3.2rem;
  height: .46rem;
  background: #fafafa;
  position: relative;
  border-top: 0.01rem solid #50d3b5;
}
.nav .left a img {
  position: absolute;
  left: 0.34rem;
  top: 0.06rem;
  width: 0.3rem;
  height: 0.3rem;
  border-right: 0.01rem solid #9b9a9e;
  padding-right: 0.96rem;
}
.nav .left a span {
  font-size: 0.16rem;
  color: #9b9a9e;
  position: absolute;
  left: 0.75rem;
  top: 0.1rem;
}
.nav .right a img {
  position: absolute;
  left: 1.88rem;
  top: 0.06rem;
  width: 0.3rem;
  height: 0.3rem;
}
.nav .right a span {
  font-size: 0.16rem;
  color: #9b9a9e;
  position: absolute;
  left: 2.3rem;
  top: 0.1rem;
}
.banner a img {
  width: 100%;
  height: 1.55rem;
}
.btn {
  border-bottom: 0.04rem solid #50d3b5;
}
.btn .ul {
  margin: 0 .08rem;
}
.btn .ul li {
  display: list-item;
  width: 2.89rem;
  height: .41rem;
}
.btn .ul li a {
  display: block;
  font-size: .16rem;
  line-height: .4rem;
  color: #9b9a9e;
  border-bottom: 0.01rem solid #9b9a9e;
}
.answer .h {
  position: relative;
  height: 0.39rem;
  width: 3.2rem;
  background: #fafafa;
  border-bottom: 0.02rem solid #e9e9e9;
}
.answer .h span {
  font-size: 0.16rem;
  color: #222222;
  position: absolute;
  right: 2.45rem;
  top: 0.06rem;
}
.answer .h img {
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  left: 2.75rem;
  top: 0.06rem;
}
.answer ul {
  height: 0.39rem;
  width: 3.2rem;
  background: #fff;
  overflow: hidden;
  padding-left: 0.16rem;
  border-bottom: 0.02rem solid #e9e9e9;
}
.answer ul li {
  line-height: 0.39rem;
  float: left;
  font-size: 0.16rem;
  margin-right: 0.32rem;
  color: #342622;
}
.answer .answer_bot {
  margin-left: .15rem;
}
.answer .answer_bot h3 {
  font-size: 0.16rem;
  color: #514d49;
  line-height: 0.39rem;
}
.answer .answer_bot .s_box img {
  width: 1.05rem;
  height: .75rem;
  padding-right: .12rem;
}
.answer .answer_bot .s_box p {
  font-size: .12rem;
  color: #959698;
}
.on {
  border: none;
  margin: 0.22rem 0.08rem 0 0.08rem;
}
.footer .top {
  position: relative;
  width: 3.2rem;
  height: .6rem;
  background: #fafafa;
}
.footer .top img {
  position: absolute;
  left: 1.13rem;
  top: .15rem;
  width: .3rem;
  height: .3rem;
}
.footer .top span {
  font-size: .16rem;
  position: absolute;
  left: 1.52rem;
  top: .2rem;
  color: #938796;
}
.footer .bot {
  width: 3.2rem;
  height: .75rem;
  background: #262626;
  position: relative;
}
.footer .bot .left img {
  width: .3rem;
  height: .25rem;
  position: absolute;
  left: .5rem;
  top: .25rem;
}
.footer .bot .left span {
  font-size: .16rem;
  color: #bfc7c9;
  position: absolute;
  left: .93rem;
  top: .28rem;
  padding-right: .26rem;
  border-right: .01rem  solid #535353;
}
.footer .bot .right img {
  width: .14rem;
  height: .25rem;
  position: absolute;
  left: 1.84rem;
  top: .25rem;
}
.footer .bot .right span {
  font-size: .16rem;
  color: #bfc7c9;
  position: absolute;
  left: 2.08rem;
  top: .28rem;
}
